
.nav {
    position: fixed;
    left: 2rem;
    right: 2rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__title {
    text-transform: uppercase;
    font-weight: 600;
}

.nav__about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    aspect-ratio: 1/1;
    font-size: .875rem;
    text-decoration: none;
    color: var(--grey-600);
    background: var(--white);
    border-radius: 50%;

    &:hover {
        box-shadow: 0 0 0 1px var(--grey-300);
    }
}

@media screen and (min-width: 37.5rem) {
    .nav {
        left: 2.5rem;
        right: 2.5rem;
    }
}


.about {
    position: absolute;
    inset: 0;
    z-index: 1;

    &:not(:target, .about--open) {
        display: none;
    }
}

.about__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    padding: 2.5rem 2.5rem;
    line-height: 150%;
    background: white;

    p {
        margin-top: 1.25rem;
        color: var(--grey-900);
    }

    a {
        color: var(--grey-600);

        &:hover {
            color: var(--grey-900);
        }
    }
}

.about__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: block;
    width: 1.5rem;
    aspect-ratio: 1/1;
    color: var(--grey-600);
}

.about__background {
    position: absolute;
    inset: 0;
    background: var(--grey-600);
    opacity: .3;
}


.trinket-card {
    position: relative;
    width: 20rem;
    max-width: 100%;
    margin: 0 auto;
}

.trinket-card__image {
    width: 100%;
}

.trinket-card__link {
    &:before {
        content: "";
        position: absolute;
        inset: 0;
    }
}


.sidebar {
    position: fixed;
    inset: 0;
    z-index: 2;

    &:not(:target, .sidebar--open) {
        display: none;
    }
}

.sidebar__background {
    position: absolute;
    inset: 0;
    background: var(--grey-600);
    opacity: .3;
}

.sidebar__content {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 7.5rem 1.5rem 5rem;
    background: var(--grey-100);
    overflow: scroll;
    overscroll-behavior: contain;
}

.sidebar__close {
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
    order: 0;
    width: 1.5rem;
    aspect-ratio: 1/1;

    a {
        color: var(--grey-600);
    }
}

.sidebar__figure {
    order: 1;
    min-width: 0;
    width: 100%;
    max-width: 25rem;
}

.sidebar__image {
    width: 100%;
}

.sidebar__text {
    order: 2;
    min-width: 0;
    width: 100%;
    max-width: 25rem;
    margin-top: 1rem;
    line-height: 150%;
    color: var(--grey-900);
}

.sidebar__link {
    display: inline-block;
    margin-top: 2.5rem;
    color: var(--grey-600);

    &:hover {
        color: var(--grey-900);
    }
}

@media screen and (min-width: 35rem) {
    .sidebar__content {
        padding: 7.5rem 5rem 5rem;
    }

    .sidebar__close {
        right: 2.5rem;
    }
}


.app {
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem;
    font-family: var(--sans);
    background: var(--grey-100);
}

@media screen and (min-width: 37.5rem) {
    .app {
        padding: 2.5rem;
    }
}


.trinket-cards {
    max-width: 49rem;
    margin: 4rem auto 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
    gap: 2rem
}

