

.trinket-card {
    position: relative;
    padding: 1rem;
    background: var(--grey-50);
}

.trinket-card__image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.trinket-card__link {
    &:before {
        content: "";
        position: absolute;
        inset: 0;
    }
}




.intro {
    max-width: 26.25rem;
    padding: 0 2rem;
    margin: 7.5rem auto 5rem;
}

.intro__title {
    color: var(--grey-900);
}

.intro__text {
    margin-top: 2rem;
    font-size: .875rem;
    line-height: 150%;
    color: var(--grey-500);
}

.intro__link {
    color: var(--grey-500);
    text-underline-offset: .125rem;

    &:hover {
        color: var(--grey-900);
    }
}




.app {
    margin: 0 auto;
    font-family: var(--sans);

    &:not([data-loaded=true]) * {
        opacity: 0;
    }
}

:where(.app *) {
    transition: opacity 400ms cubic-bezier(0.19, 1, 0.22, 1);
}




.trinket-cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11.25rem, 1fr));
    gap: 1rem;
    max-width: 60.25rem;
    padding: 0 2rem;
    margin: 0 auto;
}




.trinket {
    display: flex;
    flex-direction: column;
    max-width: 32.5rem;
    padding: 0 2rem;
    margin: 7.5rem auto 5rem;
}

.trinket__title {
    margin-top: 2.5rem;
    color: var(--grey-900);
    line-height: 150%;
}

.trinket__excerpt {
    color: var(--grey-900);
    line-height: 150%;
}

.trinket__link {
    margin-top: 2rem;
    text-underline-offset: .125rem;
    color: var(--grey-500);

    &:hover {
        color: var(--grey-900);
    }
}

.trinket__figure {
    width: 100%;
    order: -1;
}

.trinket__image {
    width: 100%;
}

.trinket__back {
    position: absolute;
    top: 5rem;
    color: var(--grey-600);
    text-decoration: none;
}

.trinket__back:hover {
    color: var(--grey-900);
}

.trinket__back:hover span + span {
    box-shadow: 0px 2px 0px -1px;
}


.trinket__back span + span {
    box-shadow: 0px 2px 0px -1px transparent;
}

@media screen and (min-width: 63.75rem) {
    .trinket__back {
        top: 7.5rem;
        left: 10rem;
    }
}


